
*
{
    padding: 0 ;
    margin: 0;
}
.contact{
    max-width: 1200px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .text{
        display: flex;
        flex-direction: column;
        gap: 6px;
        h2{
            text-transform: uppercase;
            font-size: 30px;
            font-weight: bold;
        
           
        }
        span{
            color: rgb(98, 98, 98);
            font-size: 23px;
            font-style: italic;
            padding: 10px 0;
        }
        p{
            font-size: 16px;
            &:hover{
                color: #ff6b53;
                
              }
        }
    }
    form{
        display: flex;
        flex-direction: column;
        .inputs{
            width: 700px;
            display: flex;
            input{
                padding: 25px;
                outline: none;
                width: 50%;
                border: 1px solid rgba(122, 122, 122, 0.933);
            }
        }
        textarea{
            padding: 25px;
            outline: none;
        }
        button{
            padding: 15px 0;
            border: 2px solid red;
            background-color: transparent;
            font-size: 16px;
            font-weight: 500;
            margin: 20px 0;
            transition: 0.5s all;
        width: 200px;
        &:hover{
            background-color: red;
            color: #fff;
            cursor: pointer;
        }
        }
    }
    @media screen and (max-width: 992px){
     flex-wrap: wrap;
     gap: 20px;
     form{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        .inputs{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            input{
                width: 350px;
            }

        }
        textarea{
            width: 350px;
        }
     }
    }
}