footer{
    background-color: #f2f2f2;
    .footer{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 80px;
        .logo{
            img{
                width: 120px;
            }
        }
        ul{
            display: flex;
            flex-direction: column;
            gap: 10px;
            li{
                font-size: 16px;
                font-weight: bold;
                cursor: pointer;
                &:hover{
                    color: #ff6b53;
                }
          
            }
        }
        .input{
            width: 300px;
            h4{
                margin: 10px 0;
            }
            input{
                width: 160px;
                padding: 15px;
                outline: none;
                border: #dedede;
                background-color: #fff;
            }
            button{
                padding: 13px 18px;
                border: 2px solid #000;
                background-color: #fff;
                transition: 0.3s all;
                &:hover{
                    background-color: #000;
                    color: #fff;
                }
            }
        }
        @media screen and (max-width: 992px){
            flex-wrap: wrap;
        }
    }
}