.details{
    max-width: 1200px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .card{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 20px;
        img{
            width: 350px;

        }
        p{
            font-weight: 700;
            font-size: 22px;
            letter-spacing: 2px;
            &.price{
                color: #255;
                font-size: 16px
            }
        }
        .buttons{
            display: flex;
            gap: 20px;
            justify-content: center;
            button{
                align-items: center;
                padding: 10px 30px;
                text-transform: uppercase;
                background-color: #ff6b53;
                color: #fff;
                border: #ff6b53;
            }
        }
    }
}