.devoted{
    max-width: 1200px;
    margin: 100px auto;
    
    .slick{
    

        .slider{
         height: 100%;
     box-sizing: border-box;
         
 display: flex;
 gap: 50px;
 align-items: center;
 justify-content: center;
 .text{
     max-width: 600px;
     padding: 50px;
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
     gap: 15px;
     align-items: flex-start;
 h1{
    font-size: 47px;
    color: rgb(35, 35, 35);
 }
 p{
    color: rgb(35, 35, 35);
 
 }
 span{
    font-size: 23px;
    font-style: italic;
    color: rgb(98, 98, 98);
 }
 button{
     padding: 15px 50px;
     border: 2px solid red;
     background-color: transparent;
     font-size: 16px;
     font-weight: 500;
 
 }
     
 }
         .image{
             max-width: 600px;
             img{
                 width: 100%;
             }
 
         }
         @media screen and (max-width: 992px){
            flex-wrap: wrap;
        }
        }
     }
}